@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-font-color: #dbddef;
    --main-font-size: 28px;
    --main-border-color: #dbddef;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    background-color: #101633;
    color: var(--main-font-color);
    font-size: var(--main-font-size);
    width: 100%;
    margin: 0;
    height: 100vh;
    justify-content: center;
}

.svg-image {
    filter: invert(80%);
}

#full-content {
    display: grid;
    grid-template-rows: 1fr 10fr;
    width: 80%;
    border-radius: 8px;
    background-color: #1c1f46;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #full-content {
        width: 100%;
        border-radius: 0;
    }
}

#header {
    display: flex;
    grid-area: 1 / 1 / 1 / 1;
    background-color:#2a529d;
    align-items: center;
    padding-left: 30px;
    font-size: 150%;
    gap: 1%;
}

#header-title {
    margin: 0;
}

#main-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 2%;
    max-height: 100%;
    overflow: hidden;
}

#library-header {
    display: flex;
    justify-content: center;
}

#library-title {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
}

#add-new-book {
    align-self: center;
    font-size: 80%;
    font-weight: bolder;
    height: 45px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    background-color:#2a529d;
    color: #dbddef;
    overflow:hidden;
}

@media (max-width: 1200px) {
    #add-new-book {
        font-size: 50%; /* This is for the button's text to not overflow */
    }
}


#add-new-book:hover {
    background-color: #101633;
    transition: 0.2s;
}

#library-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1%;
    width: 96%;
    height:76%;
    border-radius: 10px;
    background-color: #24285a;
    padding: 2%;
    overflow: hidden;
}

.book {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 4fr 1fr;
    font-size: 80%;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
}

.book-name {
    grid-area: 2 / 2 / 2 / 2;
    display: flex;
    justify-content: center;
}

.book-author {
    display: flex;
    background-color: rgb(86, 21, 146);
    margin: 0;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    font-size: 60%;
    grid-area: 1 / 1 / 4 / 1;
}

.book-pages {
    display: flex;
    font-size: 50%;
    padding: 5px;
    justify-content: end;
    grid-area: 1 / 2 / 2 / 2;
}

.read-and-delete {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 5px;
    grid-area: 3 / 2 / 3 / 2;
}

.book-read {
    background-color: green;
    color: var(--main-font-color);
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--main-border-color);
}

.book-not-read {
    background-color: rgb(172, 0, 0);
    color: var(--main-font-color);
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--main-border-color);
}

.delete-book {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}

.delete-book:hover,
.book-read:hover, 
.book-not-read:hover {
    background-color: #ccc;
    color: black;
    transition: 0.2s;
}